.depth0
  background-color: #FAFAFA
.depth1
  background-color: #F5F5F5
.depth2
  background-color: #EEEEEE
.depth3
  background-color: #E0E0E0
.depth4
  background-color: #BDBDBD
.depth5
  background-color: #9E9E9E
.depth6
  background-color: #757575
  input,span,textarea,select
    color: #ffffff
.depth7
  background-color: #616161
  input,span,textarea,select
    color: #ffffff
.depth8
  background-color: #424242
  input,span,textarea,select
    color: #ffffff
.depth9
  background-color: #212121
  input,span,textarea,select
    color: #ffffff