@import "../../assets/variables.sass";

.Home
  padding: 2rem;
  .Maiden
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn
      font-size: 1.6rem;
  .card
    margin-bottom: 2rem;
    border: 1px solid $border;
    border-radius: .5rem;
    overflow: hidden;
    .card-header
      border-bottom: 1px solid $border;
      font-size: 1.6rem;
    .card-block
      > p:last-child
        margin-bottom: 0;
    a:hover
        border-bottom: 1px solid $brand;
  .card:last-child
    // margin-bottom: 0;
  .card.Logs
    .Log
      padding: 1rem 0;
      border-bottom: 1px solid #eff3f6;
      .Log-body
        float: left;
        .Log-user
          // margin-right: .5rem;
        .Log-avatar
          margin-right: .75rem;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        .Log-user-link
          margin-right: .5rem;
        .Log-type
          margin-right: .5rem;
        .Log-target
          margin-right: .5rem;
          .slash
            color: #999;
      .Log-footer
        float: right;
        margin-left: .5rem;
        padding: .4rem 0;
        .Log-fromnow
          color: #666;
        
      // padding: 4rem 1rem;
      // text-align: center;
      // font-size: 4rem;
    .Log:last-child
      border-bottom: 0;
